.SortBar{
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 1rem; 
    display: flex;   
    justify-content: space-between;
}

.SortBar__sortTxt{
    margin: 0;
    font-size: 1.1rem;
    margin-right: 1rem;
}

.SortBar-sort{
    display: flex;
    align-items: center;
}

.SortBar-viewIconContainer{
    display: flex;
    align-items: center;
}

.SortBar__viewIcon{
    font-size: 1.2rem;
    margin: 0 .5rem;
}