@import "../../utils/styles/colors/colors.scss";
@import "../../utils/styles/variables/variables.scss";
@import "../../utils/styles/mixins/mixins.scss";



.UserTable_container {
    margin: 0 auto;
    margin-top: $margin;
    margin-bottom: $margin;
    width: 95%;

}

.UserTable_ROWS{
    height: 40vh;
    overflow-y: scroll;
}


.UserTable_ROWS::-webkit-scrollbar {
    width: 2px;
}

.UserTable_ROWS::-webkit-scrollbar-track {
    
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.UserTable_ROWS::-webkit-scrollbar-thumb {
    
    background-color: $purple;
}




.UserTable_title {
    margin: 2rem 0;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    
}


.UserTable_rowText {
    display: inline-block;
    margin: 0 2rem;
    margin-top: 0;
    color: $row_color;
}

.UserTable_rowContainer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.UserTable_rowIcon{
    cursor: pointer;
    width: .8rem;
    padding-right: 1rem;
}


.UserTable_rowImage{
    margin: 0;
    border-radius: 50%;
    width: 2rem;
}

.UserTable_rowImageContainer{

}