@import "../../utils/styles/colors/colors.scss";
@import "../../utils/styles/variables/variables.scss";
@import "../../utils/styles/mixins/mixins.scss";



.Sidebar{
    padding-right: 3rem;
    @include GridView;
    grid-template-rows: 10% 50% 20%;
    justify-items: center;
    margin-bottom: 1rem;
    padding-top: 4rem;

}

.Sidebar_logo{
    cursor: pointer;
    color: $purple;
    @include CharacterSpacing;
    font-size: $fontSize_title;
    position: relative;
    top: -2rem;
}

.Sidebar_Home{
    margin: $margin 0;
}

.Sidebar_Frow,.Sidebar_Srow,.Sidebar_Trow{
@include FlexBox;
flex-direction: column;
justify-content: center;
}




