.Sidebar__div--LogoContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top:1.5rem;
}


.Sidebar__div--LogoImageContainer{
    display: flex;
    width: 1.8rem;
}

.Sidebar__img--LogoImage{
    width: 100%;
}

.Sidebar__h1--LogoTitle{
    margin-left: .5rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: #3F51B5;

}







