$white :#FAFAFA;
$purple :#6A75CA;
$deepPurple:#5E35B1;
$lighGray :#9E9E9E;
$lightGray :#9E9E9E;
$gray: #E8ECF8;

$lessBlack:#212121;




$placeholder_color :#BDBDBD;
$searchbar_BorderColor:#E0E0E0;


$row_color : #757575;

