 @import '../../utils/styles/mixins/mixins.scss';
 @import '../../utils/styles/colors/colors.scss';
 @import '../../utils/styles/variables/variables.scss';


 .GridContainer {
     @include GridView;
     //  @include GridGap(1rem);

     grid-template-columns: 15% 60% 25%;
 }


 .col {}


 .col1 {
     height: 100vh;
     overflow-y: scroll;
     background: $white;
 }


 .col1::-webkit-scrollbar {
     width: 4px;
 }

 .col1::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }

 .col1::-webkit-scrollbar-thumb {
     background-color: $purple;
 }


 .col2 {
     background: $gray;
 }


 @media only screen and (max-width:1200px) {



     .GridContainer {

         grid-template-columns: 20% 55% 20%;

     }

 }

 @media only screen and (max-width:1000px) {


    
    .GridContainer {

        grid-template-columns: 75% 25%;

    }


     .col1{
         display: none;
     }

 }


 @media only screen and (max-width:600px) {


    
    .GridContainer {

        display: block;

    }


     .col1 ,.col3{
         display: none;
     }


 }