
$padding:4rem;
$margin:3rem;

$marginTop_Large:8rem;


$margin_small:1.2rem;
$margin_nav:1.8rem;

$fontSize_title:1.8rem;
$fontSize_smallHeading:1rem;
$fontSize_smalltext:.8rem;


$IconSize_small:22px;


$Icon_Spacing:.8rem;



$Avatar_size:36px;
$Avatar_borderRadius:50%;