.CheckoutPageContainer {
    padding: 2rem;
}

.CheckoutPage-FormsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}

.CheckoutPageFormContainer {}

.CheckoutPageForm {
    padding: 2rem;
    background: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.Form_title {
    font-size: 1rem;
}


.form-InputContainer {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#textAreaInput{
    width: 100%;
}

#paymentRadioGroup{
    margin: 0;
    margin-bottom: 1rem;
}
