.Section {
    margin: 1.5rem;
}

.hiw__title {
    text-align: center;
    font-size: 2.5rem;
}

.Cards-Container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.HomePage-carouselContainer img{
    height: 550px;
}

.Section {
    margin: 2rem;
}

.Section h1 {
    text-align: center;
}

.Categories {
    flex-wrap: wrap;
}

.Categories__title {
    font-size: 2.5rem;
}


@media only screen and (max-width:900px){

    .Section{
        width: 50%;
        margin: 1rem auto;
    }

    .hiw-cards{
        flex-wrap: wrap;
    }


    }