.ShoppingCartContainer{
    padding: 2rem;
}

.BtnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}

.ShoppingCartContainer-ExtraInfo{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.ExtraInfo__continueShoppingTxt{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

.ProceedToCheckout{
    border: 2px solid rgb(22, 22, 22);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}