.HomePage {
    padding-top: 0;
    display: grid;
    grid-template-columns: 70% 30%;
}

.HomePage-BtnContainer {
    display: flex;
    justify-content: flex-end;
}

.HomePageTitle {
    font-size: 3rem;
}

.HomePageDetails{
    width: 100%;
}

#searchInp {
    margin-left: 4rem;
}

.itemList {
    display: flex;
    align-items: center;
}

.itemListSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ReturnBtn{
    width: 150px;
    margin-right: 1rem;
}

.HomePageDetails{
    background: #343847;
}

.HomePageContianer{
    padding: 1rem;
}

.detials_description{
    margin-top: 5rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 0rem;
}

#Checkout{
    margin-top: 2rem;
    background: #8E99C2;
    width: 50%;
    padding: .8rem;
    color: white;
    border-radius: 0;
}

.detail_txt{
    color: #7A84A7;
    font-size: 1.2rem;
}

.detail_price{
    color: white;
}

.detail_cols{
    display: flex;
    justify-content: space-between;
    width: 85%;
    color: #8E99C2;
}

.col_txt{
    color: white;
}
