@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}


body{
    font-family: 'Poppins', sans-serif; ;
    overflow-y: hidden;
}

a{
    color: black;
    text-decoration: none;
}


button{
    font-family: 'Poppins', sans-serif; ;
    overflow-y: hidden;
 
}
