@import '../../utils/styles/mixins/mixins.scss';
@import '../../utils/styles/colors/colors.scss';
@import '../../utils/styles/variables/variables.scss';

.NavLink {
    @include FlexBox;
    align-content: baseline;
    margin-top: $margin_nav;
}

.NavIcon {
    width: $IconSize_small;
}

.NavText {
    font-size: $fontSize_smallHeading;
    align-self: flex-end;
    margin: 0;
    margin-left: $Icon_Spacing;
}

.NavLink_sectionText {
    color: $lighGray;
    margin-bottom: $margin_small;
}