@import "../../utils/styles/colors/colors.scss";
@import "../../utils/styles/variables/variables.scss";
@import "../../utils/styles/mixins/mixins.scss";


.Avatar_container {
    margin-top: $marginTop_Large;
    @include FlexBox;
    align-content: center;
    
}

.Avatar_imgContainer {
    align-self: center; 
    margin-right: 1rem;
    width: $Avatar_size;
    
}

.Avatar_Image {
    border-radius: $Avatar_borderRadius;
    width: 100%;
}

.Avatar_title {
    font-size: $fontSize_smallHeading;
    margin: 0;
}

.Avatar_extra {
    font-size: $fontSize_smalltext;
    margin: 0;
    color: $lightGray ;
}