.Itext{
    font-family: 'Poppins',sans-serif;
    font-size: 12pt;
    letter-spacing: .5pt;
    margin-left: 8pt;
    font-weight:700;
}

.Iimage{
    width:16pt;
}

.ITcontainer{
    display: flex;
    align-items: center;
}