
.ProductsTable-TableHeader{
    display: flex;
    background: rgb(240, 240, 240);
}

.ProductTable-ListCard{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    background: #F5F5F5;
}

.TableBody__item{
    margin: 0 1rem;
    padding: 1rem 0;
    width: 20%;
}

.ListCard__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 1rem;
}

.ListCard__txt{
    font-size: 1.1rem;
}

.ProductsTable-TableBody{
    margin-top: 1rem;
    max-height: 500px;
    overflow: auto;
}

.ListCard__Price{
color: #f44336;
}

.ListCard__Icon{
    font-size: .8rem;
    padding: .5rem;
    background: #BDBDBD;
    border-radius: .5rem;
    cursor: pointer;
}