.NavLinksContainer{
    display: block;
    width: 100% ;
    background: #F8F9F8;
    border-radius: 16px;
    padding: .3rem;
    padding-left: 0;

}


.Links{
    margin: 0;
    font-family: 'Quicksand',sans-serif;
    font-weight: 600;
    color: #616161;
    padding: .5rem;
    padding-left: 1.3rem;
    font-size: .9rem;
    letter-spacing: .05rem;
    margin: .5rem 0;
    border-left: 0px solid #9FA8DA;
    transition: .2s all ease-out;
    cursor: pointer;
    border-radius: 1.5px;
}


.Links:hover{
    border-left: 4px solid #9FA8DA;
}


.subLink{
    position: relative;
    left: 20px;
}

.subLink:first-child{
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.showBorder{
    border-left: 4px solid #9FA8DA;
    color: black;
    font-weight: bold;
    background: rgb(238, 238, 238);
}

.isBold{
    border-left: 4px solid #9FA8DA;
    color: black;
    font-weight: bold;
}

