.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EEEEEE;
    padding: .5rem;
}

.NavBar-titleContainer {
    width: 25%;
    display: flex;
    align-items: center;
}

.NavBar__logo{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.NavBar-searchContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar__search{
    width: 100%;
    height: 1.5rem;
    padding: .5rem;
    border: none;
    outline: none;
}

.searchIcon{
    padding: .5rem 1rem;
    background: rgb(224, 224, 224); 
    width: 24px;
    font-size: 1.5rem;
    color: #616161;
    cursor: pointer;
}

.NavBar-iconContainer {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavBar__Icon{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #2e2e2e;
    cursor: pointer;
}

.NavBar__Menu{
    font-size: 1.5rem;
    margin-right: 1.2rem;
    margin-left: 1.5rem;
    cursor: pointer;
}


@media only screen and (max-width:900px){

    .NavBar-iconContainer{
        display: none;
    }

    .NavBar{
        justify-content: space-between;
    }

    .NavBar-searchContainer{
        min-width: 250px;
        margin-left: 3rem;
    }

}