
$padding:4rem;

$margin:3rem;
$marginTop_Large:8rem;
$marginTop_Medium:4rem;
$margin_small:1rem;
$margin_nav:1.8rem;




$fontSize_title:1.5rem;
$fontSize_smallHeading:.8rem;
$fontSize_smalltext:.8rem;
$fontSize_popUp:1.1rem;


$IconSize_small:18px;
$Icon_Spacing:.8rem;



$Avatar_size:36px;
$Avatar_borderRadius:50%;



$searchbar_PaddingV:.6rem;
$searchbar_PaddingH:.8rem;
$searchbar_Radius:24px;




$table_rowPadding:1rem;