
.SplashScreen__div--container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E0E0;
    
}


.SplashScreen__h1--text{
    color: black;
    font-size: 3rem;
}